.form {
	width: 100%;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.form_group {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	width: 100%;
	max-width: 25rem;
}
.form_group label {
	color: aliceblue;
	font-size: 1.6rem;
}
.form_group input {
	background: white;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;

	transition: all 0.3s ease;
	border: 2px solid white;
}
.form_group input:focus {
	border: 2px solid rgb(158, 92, 219);
}
.form .btn {
	font-size: 1.6rem;
	width: 100%;
	max-width: 25rem;
	background: cadetblue;
	border-radius: 0.4rem;
	padding: 0.4rem 0.6rem;
}

.form .error_message {
	font-size: 1.4rem;
	color: rgb(177, 7, 7);
}
